<div class="left">
	<form #f="ngForm" (ngSubmit)="addTutorial(f)" novalidate>
		<mbsc-input
			input-style="outline"
			label-style="stacked"
			placeholder="name"
			[(ngModel)]="user.name"
			name="name"
			required="true"
			#name="ngModel"
			[error]="!!(name.invalid && (name.dirty || name.touched))"
			[errorMessage]="getError(name)"
		>
			Name
		</mbsc-input>

		<mbsc-input
			input-style="outline"
			label-style="stacked"
			placeholder="url"
			[(ngModel)]="user.url"
			name="url"
			#url="ngModel"
		>
			Url
		</mbsc-input>

		<button type="submit">Add a Tutorial</button>
	</form>
</div>
<p>create works!</p>
