<h1>VALIDATION</h1>
<div class="row">
	<div class="col-md-6">
		<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
			<validation-field>
				<mbsc-input input-style="outline" label-style="stacked" formControlName="firstName" required="true">
					First name
				</mbsc-input>
			</validation-field>

			<validation-field>
				<mbsc-input input-style="outline" label-style="stacked" formControlName="lastName" required="true">
					Last name
				</mbsc-input>
			</validation-field>

			<validation-field>
				<mbsc-input input-style="outline" label-style="stacked" formControlName="email">Email</mbsc-input>
			</validation-field>

			<validation-field>
				<mbsc-select
					[touchUi]="false"
					[filter]="false"
					input-style="outline"
					label-style="stacked"
					formControlName="country"
					[data]="countries"
					[buttons]="['clear']"
				>
					Pick Country
				</mbsc-select>
			</validation-field>

			<div class="projects" formArrayName="projects">
				<h2>Projects</h2>
				<div class="project" *ngFor="let project of projects['controls']; let i = index">
					<h4>PROJECT {{ i + 1 }}</h4>
					<div [formGroupName]="i">
						<validation-field>
							<mbsc-input input-style="outline" label-style="stacked" formControlName="projectName">
								Project name
							</mbsc-input>
						</validation-field>

						<validation-field>
							<mbsc-input input-style="outline" label-style="stacked" formControlName="projectYear">
								Project year
							</mbsc-input>
						</validation-field>

						<validation-field>
							<mbsc-input input-style="outline" label-style="stacked" formControlName="projectValue">
								Project value
							</mbsc-input>
						</validation-field>

						<button (click)="deleteProject(i)">Delete Project</button>
					</div>
				</div>

				<button type="button" class="btn btn-primary mr-1" (click)="addNewProject()">Add project</button>
			</div>

			<button type="button" class="btn btn-primary mr-1" (click)="reset()">Reset</button>
			<button type="submit" class="btn btn-primary mr-1">Submit</button>
		</form>
	</div>
</div>
